.group__outer{
  position: relative;
  height: 100vh;
  overflow: scroll;
	background-color: #cbf4fa;
	background-image:
	linear-gradient(-90deg, #8ecbd3 50%, transparent 50%, transparent);
	background-size: 14px 14px;
}
.Group__name{
  display: flex;
  position: absolute;
  left: 180px;
  margin:0;
  padding:10px;
  font-size:20px;
  font-family:bold;
  text-shadow: 0 1px 0 #ccc,
          0 2px 0 #c9c9c9,
          0 3px 0 #bbb,
          0 4px 0 #b9b9b9,
          0 5px 0 #aaa,
          0 6px 1px rgba(0,0,0,.1),
          0 0 5px rgba(0,0,0,.1),
          0 1px 3px rgba(0,0,0,.3),
          0 3px 5px rgba(0,0,0,.2),
          0 5px 10px rgba(0,0,0,.25),
          0 10px 10px rgba(0,0,0,.2),
          0 20px 20px rgba(0,0,0,.15);
}


.groups__content_row{
  padding-left: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.group__outer::-webkit-scrollbar{
  display: none;
}

.group__header{
  height: 70px;
  padding-top: 10px;
}

.group__draft{
  position: absolute;
  right: 220px;
  a{
    color: rgba(82, 81, 81, 0.603);
  }
  @import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
  $bg: #fff;
  $text: #382b22;
  $light-pink: #fff0f0;
  $pink: #ffe9e9;
  $dark-pink: #f9c4d2;
  $pink-border: #b18597;
  $pink-shadow: #ffe3e2;
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    margin: 2px 0;
    &.group__draft__list {
      font-weight: 600;
      color: $text;
      text-transform: uppercase;
      padding: 0.5em 2em;
      background: $light-pink;
      border: 2px solid $pink-border;
      border-radius: 0.75em;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-pink;
        border-radius: inherit;
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }
      &:hover {
        background: $pink;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
      &:active {
        background: $pink;
        transform: translate(0em, 0.75em);
        &::before {
          box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
          transform: translate3d(0, 0, -1em);
        }
      }
    }
  }
}



.group__post-btn{
  position: absolute;
  top: 11px;
  right: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  a{
    color: rgba(82, 81, 81, 0.603);
    text-decoration: none;
  }

  @mixin transition-all {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
  }

  $slate-color: rgb(16,24,50);
  $blue-color: #00bcdd;
  $pink-color: #ff00ff;

  .group__mew{
      background-color: rgba(255, 255, 255, 0.212);
      font-weight: 600;
      color: rgb(16,24,50);
      cursor: pointer;
      display: inline-block;
      letter-spacing: 0.075em;
      padding: .8em 1em;
      position: relative;
      align-self: center;
      text-transform: uppercase;
      border: 3px $blue-color solid;
      border-image: linear-gradient(45deg, $blue-color 0%, $pink-color 100%);
      border-image-slice: 1 1 0 0;
      z-index: 1;
      box-shadow: -0.5em .5em transparentize(rgb(16,24,50),1);
      transform-origin: left bottom;
      @include transition-all;
      
      &:before,
      &:after {
        border: 3px $blue-color solid;
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
      }
      
      // SIDE
      &:before {
        border-image: linear-gradient(45deg, $blue-color 0%, adjust-hue($blue-color,10%) 100%);
        border-image-slice: 1 1 0 1;
        left: -0.59em; top: .1em;
        width: .31em;
        height: 101%;
        transform: skewY(-45deg);
      }
      
      // BOTTOM
      &:after {
        border-image: linear-gradient(45deg, $blue-color 0%, $pink-color 100%);
        border-image-slice: 1 1 1 0;
        bottom: -0.63em; right: 0.1em;
        width: 99%;
        height: .31em;
        transform: skewX(-45deg);
      }
      
      // Shadow
      &:hover {
        //border-image-slice: 1;
        background-color: white;
        background-size: 90%;
        transform: translate(0.5em,-0.5em);
        box-shadow: -1em 1em .15em transparentize($slate-color,.9);
        // box-shadow: -1em 1em 1em transparentize($blue-color,.9), -1em 1.9em 1.9em transparentize($slate-color,.9), 0em .38em .38em transparentize($slate-color,.9), 0em .76em .76em transparentize($slate-color,.9), 0em 1.52em 1.52em transparentize($slate-color,.9);
        
        
        &:before {
          background-image:(linear-gradient(45deg, $blue-color 0%, adjust-hue($blue-color,10%) 100%));
          height: calc(100% - .13em);
          border-image-slice: 1;
        }
        
        &:after {
          background-image:(linear-gradient(45deg, $blue-color 0%, $pink-color 100%));
          width: calc(100% - .13em);
          border-image-slice: 1;
        }
      }
    }
  }


.group__search-btn {
  width:calc(7vw + 6px);
  height:calc(2.5vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:1.5vw;
  font-weight:bold;
  color:#FFF;
}
.group__search-btn:after {
  content:attr(alt);
  width:7vw;
  height:2.5vw;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}

.group__search-btn:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.group__search{
  text-align: center;
  align-items: center;
  height: 50px;
  top: 50px;
  align-items:center;
  justify-content:center;
  font-family:Helvetica,Sans-serif;
}
.group__search-input{
  width: 300px;
  height: 35px;
  margin: 15px;
}

.contents{
  .success{
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    h3{
      margin: 10px auto;
    }
  }
}

.contents::-webkit-scrollbar{
  display: none;
}

.group__screen__text{
  position:relative;
  margin:0 22px 0 10px;
  padding:14px 15px 0px 20px;
  font:bold 28px/1.3 Comic Sans MS;
  color:rgba(221, 125, 34, 0.801);
  background:#ffc;
  box-shadow:
      12px 0 0 0 #ffc,
      0 12px 0 0 #ffc,
      1px 15px 4px -3px rgba(0,0,0,0.2);
}

.group__screen__text:before{
  content:" ";
  position:absolute;
  top:100%;
  left:100%;
  width:0;
  height:0;
  border-width:12px 12px 0 0;
  border-style:solid;
  border-color:transparent;
  border-top-color:#cc9;
}

.group__screen__text:after{
  content:" ";
  position:absolute;
  padding:0 20px;
  bottom:0;
  left:10px;
  width:110px;
  height:20px;
  background:rgba(255,182,182,0.4);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.content__image{
  width: 70px;
  margin: 20px 35px 0 35px;
  padding: 130px;
  position: relative;
  height: 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 1, 41);
  p{
    position: absolute;
    left: 30px;
    right: 100px;
    bottom: 30px;
    margin: 0;
    font-size: 10px;
    z-index: 2;
    font-weight: bold;
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
  }
  span{
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 2;
    font-size: 13px;
  }
  a{
    display: block;
    color: #aaa;
    text-decoration: underline;
  }
}

.image__box{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.more{  
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 20px;
  z-index: 2;
  height: 40px;
  text-align: right;
}

.more__list{
  ul{
    position: absolute;
    text-align: left;
    width: 80px;
    right: 0;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  li{
    background-color: #000;
    border-bottom: 1px solid #ddd;
    padding: 8px 20px;
    font-size: 15px;
    border: 2px solid #eeee;
    color: #eeee;
    font-weight: hold;
    text-align: center;
    display: inline-block;
  }
}

.content__group__description{
  box-shadow: 0 0 10px rgba(1, 41, 41, 41);
  background-color: #b1f8f59f;
  margin: 0 35px;
  width: 130px;
  height: 125px;
  position: relative;
  padding: 0 140px 0 60px;
  padding-top: 20px;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 2px rgb(248, 245, 245), 0 0 1px rgb(247, 243, 243), 0 0 1px rgb(236, 234, 234);
  a{
    color: rgb(63, 62, 62);
    bottom: 0;
    padding: 10px 0 0 0;
  }
}

.content__title{
  width: 200px;
}

.content__favorite{
  position: absolute;
  top: 7px;
  right: 15px;
  i{
    color: #f731b5;
  }
}

hr{
  position: absolute;
  left: 5px;
  height: 1px;
  background-color: rgb(190, 190, 190);
  width: 97%;
  border: none;
}

.content__user{
  display: flex;
  position: absolute;
  bottom: 3px;
  left: 10px;
  img{
    margin-right: 10px;
    width:  45px; 
    height: 45px;
    border-radius: 60%; 
    border: 1px solid rgb(190, 190, 190);
  }
  a{
    color: rgb(63, 62, 62);
    bottom: 0;
    padding: 10px 0 0 0;
    text-decoration: none;
  }
}

.content__follow{
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: inline-block;
  padding: 0.5em 1em;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  a{
    text-decoration: none;
  }
}

.content__follow:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.content__text{
  padding: 10px;
  background-color: white;
  color:#000;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(41, 41, 41, 41);
  height: 200px;
  overflow-x: scroll;
  scrollbar-color: white;
  font-family: "游ゴシック", "YuGothic";
  text-align: justify;
  white-space: pre;
  p{
    text-align: center;
  }
}


.content__text::-webkit-scrollbar{
  display: none;
}

//グループコメント
.group__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
  overflow: scroll;
  padding-left: 150px;
}

.group__container{
  margin-top: 30px;
  width: 500px;
  position: relative;
  background: rgb(255, 255, 204);
  box-shadow: 0px 0px 0px 10px rgb(255, 255, 204);
  border: dashed 2px rgb(212, 212, 212);
  padding: 0.2em 0.5em;
  color: #454545;
  .comments__box{
    display: flex;
  }
  &__form{
    display: flex;
  }
  textarea {
    width: 300px;
    margin: 5px 0 15px;
    padding: 10px;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    height: 45px;
    display: inline-block;
    margin: 27px 0 0 10px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
  }
  form input[type="submit"]:hover {
    border: dotted 1px #FFF;
  }
  strong{
    display: flex;
  }
  img{
    margin-right: 10px;
    width:  45px; 
    height: 45px;
    border-radius: 60%; 
    border: 1px solid rgb(190, 190, 190);
  }
  a{
    color: rgb(63, 62, 62);
    text-decoration: none;
  }
}
.group__container:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffc #fff #ffc;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.group__container p {
  margin: 0; 
  padding: 0;
}

.group__container::-webkit-scrollbar{
  display: none;
}

.form-content{
  display: flex;
  flex-direction: column;
}


//投稿フォーム
.post-form__group{
  background-image: url(/assets/desk2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color:rgba(255, 255, 255, 0.295);
  background-blend-mode:lighten;
  height: 100vh;
  overflow: scroll;
  width: 100%;
}


.postainer{
  height: 1000px;
  width: 700px;
  margin: 30px auto;


  &__title{
    background: rgba(40, 195, 216, 0.904);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    height: 50px;
  }

  &__show{
  background: rgba(255, 242, 227, 0.733);
  pointer-events: auto;
  transition: .3s;
  padding: 20px;

  }
}

.cp_form {
	position: relative;
	width: 600px;
	margin: 40px auto;
	padding: 1em 2em;
  box-shadow:0px 0px 3px 2px #ededed;
}

.fc__box{
  width: 100%;
  margin: 5px 0;
}
.fc__list{
  width: 100%;
}
.fc__tx {
	position: relative;
	width: 100%;
  input[type="text"]{
    padding: 12px 10% 12px 12px;
    font-family: inherit;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #cccccc;
    outline: 0;
    background: none;
  }
  input[type="text"]:valid{
    background: #fff0f0;/*背景色*/
  }
  input[type="text"]:valid:focus{
    border-color: #da3c41;
  }
  input[type='text']:focus + label{
    font-size: 0.7em;
    line-height: 1.2;
    z-index: 2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 1px 6px 2px 6px;
    text-transform: uppercase;
    color: #ffffff;
    background: #da3c41;
    height: 100%;
  }
  input[type='text']:focus + label{
    right: 0;
    width: 10%;
    margin-right: 0;
    padding-top: 5px;
  }

  label {
    position: absolute;
    padding: 7px 6px;
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    color: #999999;
    right: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-right: -100%;
  }
}

.fc__ta{
  position: relative;
	width: 100%;
  textarea:valid {
    background: #fff0f0;/*背景色*/
  }
  textarea:focus {
    border-color: #da3c41;
  }
  textarea:focus + label {
    font-size: 0.7em;
    line-height: 1.2;
    z-index: 2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 1px 6px 2px 6px;
    text-transform: uppercase;
    color: #ffffff;
    background: #da3c41;
  }
  textarea {
    height: 200px;
    font-family: inherit;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #cccccc;
    outline: 0;
    background: none;
    padding: 12px 10% 12px 12px;
  }
  textarea {
    display: block;
    resize: vertical;
  }
  
  textarea:focus + label {
    right: 0;
    width: 10%;
    margin-right: 0;
    padding-top: 5px;
  }

  label {
    position: absolute;
    padding: 7px 6px;
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    color: #999999;
    top: 2px;
    bottom: 3px;
    right: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-right: -100%;
  }
}

.cp_ipfile{
	font-family: inherit;
	font-size: 1rem;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #cccccc;
	outline: 0;
	background: none;
}

.file_text{
	font-family: inherit;
	font-size: 1rem;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	padding: 8px 12px;
	outline: 0;
	background: none;
}

.cp_ipselect {
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.cp_ipselect select {
	font-family: inherit;
	font-size: 1rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	border-radius: 0;
	outline: none;
	background: transparent;
  background-image: none;
  background-color: #fff0f0;
	box-shadow: none;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 1em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	pointer-events: none;
	border-top: 6px solid #da3c41;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #999999;
}
.cp_ipselect.cp_sl01 select:valid {
	color: #333333;
}
.cp_input {
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 49%;
	padding: 8px 12px;
	color: #999999;
}
.cp_ipcheck,
.cp_ipradio {
	position: relative;
	text-align: left;
}
.cp_ipcheck input,
.cp_ipradio input {
	display: none;
}
.cp_ipcheck label,
.cp_ipradio label {
	position: relative;
	display: block;
	padding: 0.5em 0;
	padding-right: 35px;
	cursor: pointer;
	color: #333333;
	border-bottom: 1px solid #cccccc;
}

/* File input */
.fc__ipfile {
  position: relative;
  border: 1px solid #cccccc;
  background-color: #fff0f0;
  label:hover {
    background-color: #da3c3c;
  }
  label:active .button {
    background-color: #b02f2f;
  }
}
.button {
	font-size: .8em;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	padding: .7rem 1.2em 0 1.2em;
	cursor: pointer;
	-webkit-transition: background-color 0.25s;
	        transition: background-color 0.25s;
	color: #ffffff;
	border-radius: 0;
	background-color: #999999;
}

.file__input {
  position: absolute;
  
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-appearance: none;
					appearance: none;
}
.file__text {
	position: relative;
	box-sizing: border-box;
	padding: 0em 10px 0.5em 10px;
	-webkit-transition: border-color 0.6s;
	        transition: border-color 0.6s;
	outline: none;
}

/*btn*/
.fc__btn {
	width: 100%;
	margin: 2em auto;
	text-align: center;
}
.btn__cont {
  text-align: center;

}
.tweet__form__btn {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 0.75rem 3em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #ffffff;
	background: #da3c41;
	font-size: 1rem;
}
.tweet__form__btn:before {
	position: absolute;
	top: -25px;
	left: -10px;
	width: 20px;
	height: 90px;
	content: '';
	transition: 0.3s;
	opacity: 0.3;
	background: #ffffff;
}
.tweet__form__btn:hover:before {
	left: 90%;
}