.header{
  position: fixed;
  border: 1px solid #D8D8D8;
  background: #222;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999;
  margin: auto;
  width: auto;
  &__logo{
  a {
    color: #ffffff;
    text-decoration: none;
    }
    text-align: center;
    display: block;
    width: 104px;
    margin: 0 auto;
    opacity:  .9;
    font-size: 40px;
    height: 60px;
  }
  &__bar{
    display: flex;
    height: 50px;
    width: 350px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    &__user_image{
      padding: 15px 0 0 15px;
    }
  }
}

.user_nav{
  position: relative;
  height: 100px;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  span{
    display: block;
    color: #ccd4de;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #eeee;
    top: 15px;
    display: block;
    float: left;
    margin-left: 15px;
    width: 70px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
  }
  span:after{
    content: '▼';
    font-size: .7em;
    margin: 15px 3px 0 10px;
  }
  span:hover ul{
    display: block;
  }
  ul {
    color: #eeeeee;
    font-size: 15px;
    background-color: #f0f0f0;
    display: none;
    position: absolute;
    top: 46px;
    right: 0;
    padding: 15px 20px;
    border-bottom: 1px solid #d8d8d8;
  }
}

i{
  padding-top: 20px;
  border: 60px;
  font-size: 16px;
  margin-left: 5px;
  color: #ffffff;
}


.post{
  margin-left: 25px;
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 11px;
  border: 2px solid #eeee;
  color: #eeee;
  font-weight: hold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.footer{
  text-align: center;
  background-color: #ffffff;
  p{
    color: #D8D8D8;
  }
}