.log-in__menu{
  position: absolute;
  top: 50px;
  right: 50px;
}

$font-family:   "Roboto";
$font-size:     14px;

$color-primary: #ABA194;


.log-in__content {
    font-family: $font-family;
    font-size: $font-size;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    // background: linear-gradient(45deg, #d5f3e7 10%, #A2C7E5 90%);
    background-image: image-url("log-in.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    overflow: scroll;
    height: 100vh;
}

.log-in__list {
    width: 90%;
    max-width: 340px;
    height: 600px;
    margin: 0 auto;
    padding-top: 15px;
}

.log-in__list__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
    img{
      width: 50px;
      height: 50px;
    }
}

.log-in__title {
    font-size: 24px;
    font-weight: bold;
    color: #4f6fad;
}

.log-in__form {
    margin-top: 20px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.log-in__form__input {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.log-form__group__image{
  display: block;
  width: 100%;
  padding: 10px;
  font-family: $font-family;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  background: darken(#fff, 3%);
}

.log-form__select{
  color: #4f6fad;
  font-weight: bold;
}

.log-form__group{
  color: #4f6fad;
  text-align: left;
  label{
    font-weight: bold;
    color: #4f6fad;
  }
}

.log-in__form__remember{
  display: block;
  width: 100%;
  padding: 10px;
  font-family: $font-family;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  color: #4f6fad;
  
  &:focus {
      background: darken(#fff, 3%);
  }
}

.log-in__form-btn {
    font-weight: bold;
    margin: 10px auto;
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}


.log-in__menu{
  a {
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }


  .btn-border-gradient-wrap {
    display: inline-block;
    padding: 0.2rem;
    border-radius: 0.5rem;
  }

  .btn-border-gradient-wrap {
    background-image: -webkit-linear-gradient(
      315deg,
      #333 0%,
      #868888 20%,
      #d8dcdc 34%,
      #999a9c 35%,
      #cccdce 43%,
      white 53%,
      #d1d6d7 68%,
      #9b9d9f 84%,
      #666 100%
    );
    background-image: linear-gradient(
      135deg,
      #333 0%,
      #868888 20%,
      #d8dcdc 34%,
      #999a9c 35%,
      #cccdce 43%,
      white 53%,
      #d1d6d7 68%,
      #9b9d9f 84%,
      #666 100%
    );
  }

  .btn-box {
    background: #000;
  }

  .post__log-in {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(#999)
    );
    background: -webkit-linear-gradient(bottom, #fff, #999);
    background: linear-gradient(to top, #fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-border-gradient-wrap--silver:hover a{
    text-shadow: 0 0 15px rgba(209, 214, 215, 0.5),
      0 0 15px rgba(209, 214, 215, 0.5), 0 0 15px rgba(209, 214, 215, 0.5),
      0 0 15px rgba(209, 214, 215, 0.5);
  }

}