// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content__mypage{
  text-align: center;
  background-color: #eeeeee;
  height: calc(100vh - 85px);
  overflow: scroll;
  &__name{
    background-color:rgb(231, 169, 255);
    margin: 10px 0 0 0;
    text-shadow: 1px 1px 2px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
    font-size: 20px;
    box-shadow: 1px 1px 2px rgba(41, 41, 41, 41);
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.content__mypage::-webkit-scrollbar{
  display: none;
}