.sub_contents
  = render partial: "side_form"
.content 
  .screan__text
    %h4 下書き一覧
  .contents.row
    - @group_tweets.each do |group_tweet|
      = render partial: "tweet", locals: { group__tweet: group_tweet }