.post-form__group
  .postainer
    .postainer__title
      %h3
      編集
    .postainer__show
      = form_with(model: [@group, @group_tweet], local: true) do |form|
        = render partial: "form", locals: { form: form }